.about-app__lead {
  padding-top: 40px;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: lighter;
}

.about-app__text {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.about-app__features {
  display: none;
}

@media (min-width: $tablet) {
  .about-app__lead {
    padding-top: 50px;
    font-size: 40px;
    line-height: 48px;
  }

  .about-app__text {
    margin-bottom: 0;
  }

  .about-app__text:nth-of-type(2) {
    padding: 0 50px;
    margin-bottom: 45px;
  }

  .about-app__features {
    display: flex;
    justify-content: flex-end;
  }

  .about-app__inner {
    width: 340px;
    padding-top: 95px;
  }

  .about-app__features-value {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    width: 340px;
    display: flex;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: 5% 82%;
  }

  .about-app__features-value p {
    margin: auto;
    margin-top: 111px;
    margin-left: 37px;
    padding-top: 8px;
    width: 205px;
    height: 205px;
    text-align: center;
    font-size: 96px;
    font-weight: bold;
    color: $pink;
    line-height: 150px;
    border: 15px solid $pink;
    border-radius: 50%;
  }

  .about-app__features-title {
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
  }

  .about-app__features-text {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-right: 22px;
    font-size: 14px;
    line-height: 24px;
  }
}
