.about-app__lead {
  @include wrapper(320px);
  margin-bottom: 36px;
  padding-top: 40px;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: lighter;
}

.about-app__text {
  margin: 0;
  padding: 0;

  &:first-of-type {
    margin-bottom: 29px;
  }
}

.about-app__facts {
  background-color: $lightgray;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: contain;
}

.about-app__features {
  display: none;
}

@media (min-width: $tablet) {
  .about-app__lead {
    @include wrapper($tablet);
    margin-bottom: 50px;
    padding-top: 48px;
    font-size: 40px;
    line-height: 48px;
  }

  .about-app__text {
    &:nth-of-type(1) {
      margin-bottom: 0;
    }

    &:nth-of-type(2) {
      padding: 0 50px;
      margin-bottom: 0;
    }
  }

  .about-app__features-inner {
    @include wrapper($tablet);
    display: flex;
    justify-content: flex-end;
  }

  .about-app__inner {

    width: 340px;
    padding-top: 96px;
  }

  .about-app__features {
    display: block;
  }

  .about-app__features-value {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    width: 340px;
    display: flex;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: 5% 82%;
  }

  .about-app__features-value p {
    margin: auto;
    margin-top: 111px;
    margin-left: 37px;
    padding-top: 8px;
    width: 205px;
    height: 205px;
    text-align: center;
    font-size: 96px;
    font-weight: bold;
    color: $pink;
    line-height: 150px;
    border: 15px solid $pink;
    border-radius: 50%;
  }

  .about-app__features-title {
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
  }

  .about-app__features-text {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-right: 22px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: $desktop) {
  .about-app__lead {
    @include wrapper ($desktop);
    padding-top: 67px;
    margin-bottom: 75px;
    font-size: 50px;
    line-height: 60px;
  }

  .about-app__text:nth-of-type(2) {
    padding: 0 250px;
  }

  .about-app__inner {
    width: 615px;
    padding-top: 124px;
    padding-left: 32px;
    padding-right: 25px;
  }

  .about-app__features {
    padding-bottom: 58px;
    background-color: $lightgray;
  }

  .about-app__features-inner {
    @include wrapper($desktop);
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
  }

  .about-app__features-title {
    line-height: 30px;
    margin-bottom: 24px;

    & > br {
      display: none;
    }
  }

  .about-app__features-text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;

    & > br {
      display: none;
    }
  }

  .about-app__link {
    font-size: 18px;
    line-height: 30px;
    color: $pink;
    border-bottom: 1px solid $pink;
  }

  .about-app__features-value {
    width: 345px;
    padding-left: 34px;
    padding-top: 102px;
    background-position: -313% 82%;
    background-size: 99%;
  }

  .about-app__features-value p {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    width: 250px;
    height: 250px;
    font-size: 120px;
    line-height: 187px;
    font-weight: bold;
  }
}
