.button {
  width: 280px;
  font-size: 18px;
  padding: 15px;
  line-height: 18px;
  font-weight: bold;
  color: $white;
  display: block;
  text-align: center;
  border: 3px solid $white;
  border-radius: 28px;

  &--post {
    background-color: transparent;
    border-color: $pink;
    color: $pink;
  }

  &--reset {
    background-color: transparent;
    border-color: $gray;
    color: $pink;
  }

  &:hover {
    background-color: $white;
    color: $pink;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

@media (min-width: $tablet) {
  .button {
    width: 300px;
  }
}

@media (min-width: $desktop) {
  .button {
    font-size: 21px;
    line-height: 18px;
  }
}
