.contacts {
  @include wrapper(320px);
  padding-top: 18px;
  padding-bottom: 24px;
}

.contacts__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
}

.contacts__item {
  padding: 10px 20px 14px;
}

.contacts__label {
  padding: 0;
  padding-bottom: 3px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
}

.contacts__text {
  display: block;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  font-style: normal;
  color: $pink;

  &--mail {
    &:hover {
      color: $color-main;
      text-decoration: underline;
    }

    &:active {
      color: rgba(40, 54, 69, 0.3);
      text-decoration: none;
    }
  }
}

@media (min-width: $tablet) {
  .contacts {
    @include wrapper($tablet);
    padding-top: 7px;
    padding-bottom: 0;
  }

  .contacts__title {
    padding: 0 50px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    text-align: center;
  }

  .contacts__list {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contacts__item {
    padding-top: 3px;
    padding-bottom: 46px;
    width: 50%;

    &:last-child {
      padding-bottom: 30px;
    }
  }

  .contacts__label {
    padding-bottom: 5px;
    text-align: center;
  }

  .contacts__text {
    padding: 0 20px;
  }
}

@media (min-width: $desktop) {
  .contacts {
    @include wrapper($desktop);
    padding-top: 14px;
    padding-bottom: 0;
  }

  .contacts__title {
    padding: 0 240px 4px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    text-align: center;
  }

  .contacts__list {
    padding: 0;

    .contacts__item {
      width: 33%;
      padding-bottom: 11px;
    }
  }

  .contacts__item--mail {
    order: 1;
  }

  .contacts__label {
    padding-bottom: 25px;
  }
}
