.downloads {
  display: flex;
  flex-direction: column;
  background-image:
    url("../../img/iphone-hand-mobile@1x.png"),
    url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 175px, 0 0;
  padding-top: 395px;
  background-color: $color-darkmain;
}

.downloads__button {
  font-size: 18px;
  margin: 28px auto;
  line-height: 18px;
  font-weight: bold;
  color: $white;
  display: block;
  width: 280px;
  text-align: center;
}

.downloads__description {
  background-image:
    url("../../img/logo-apple.svg"),
    url("../../img/logo-android.svg"),
    url("../../img/logo-microsoft.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 10% 20%, 50% 20%, 90% 20%;
  padding: 115px 20px 0;
  text-align: center;
  font-weight: lighter;
  color: $white;
}

@media (min-width: $tablet) {
  .downloads {
    padding-top: 0;
    /*Временно*/
    min-height: 620px;
  }

  .downloads__container {
    width: 340px;
  }
}

@media (min-width: $desktop) {
  .downloads {
    padding-top: 100px;
  }

  .downloads__container {
    width: 500px;
  }
}
