.facts-list {
  @include list-reset();
  background-color: $lightgray;
  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 110%;
  padding-bottom: 330px;
}
.facts-list__title {
  font-size: 18px;
  color: $black;
  text-align: center;
}
.facts-list__text {
  text-align: center;
}
