.facts-list {
  @include list-reset();
  @include wrapper (320px);
  padding-bottom: 288px;
  padding-top: 59px;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 109%;
  background-size: 157px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }
}

.facts-list__item {
  margin-bottom: 31px;
}

.facts-list__title {
  font-size: 18px;
  color: $black;
  text-align: center;
  margin-bottom: 12px;
}

.facts-list__text {
  margin: 0;
  text-align: center;
  padding: 0 20px;

  & > br {
    display: none;
  }
}

@media (min-width: $tablet) {
  .facts-list {
    @include wrapper($tablet);
    display: flex;
    padding-top: 63px;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 18px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 5% 4%;
    background-size: 268px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }

  .facts-list__item {
    width: 340px;
    padding: 9px;
    margin-bottom: 16px;
  }

  .facts-list__title {
    text-align: left;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
  }

  .facts-list__text {
    text-align: left;
    margin: 0;
    padding: 0;
    padding-right: 10px;

    & > br {
      display: inline;
    }
  }
}

@media (min-width: $desktop) {
  .facts-list {
    @include wrapper ($desktop);
    padding: 0;
    background: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .facts-list__item {
    width: 300px;
    padding: 0;
    padding-top: 357px;

    background-size: 292px auto;

    &:nth-of-type(1) {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 179% 0%;


      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &:nth-of-type(2) {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 93% 0%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &:nth-of-type(3) {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: -39% 0%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }

  .facts-list__title {
    font-size: 30px;
    padding: 0 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 24px;
  }

  .facts-list__title--alignment1 {
    padding-left: 50px;
  }

  .facts-list__title--alignment3 {
    padding-left: 20px;
    padding-right: 40px;
  }

  .facts-list__text {
    padding: 0 26px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;

    & > br {
      display: none;
    }
  }

  .facts-list__text--alignment1 {
    padding-left: 37px;
    padding-right: 17px;
  }

  .facts-list__text--alignment3 {
    padding-left: 19px;
    padding-right: 40px;
  }
}
