.footer {
  @include wrapper(320px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__logo {
  margin: 0 auto;
  margin-bottom: 34px;

  & img {
    width: 147px;
  }
}

.footer__social {
  @include list-reset;
  margin-bottom: 31px;
}

@media (min-width: $tablet) {
  .footer {
    @include wrapper($tablet);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    width: 25%;
  }

  .footer__social {
    width: 50%;
  }

  .footer__design {
    width: 25%;
  }
}

@media (min-width: $desktop) {
  .footer {
    @include wrapper(940px);
    min-height: 225px;
  }

  .footer__logo {
    text-align: left;
  }
}
