.footer {
  @include wrapper(320px);
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &--main {
    display: none;
  }

  &--foto {
    .footer__social {
      margin-bottom: 29px;
    }
  }

  &--form {
    .footer__social {
      margin-bottom: 29px;
    }
  }
}

.footer__logo {
  margin: 0 auto 25px;
  padding: 0 85px;
}

.footer__social {
  @include list-reset;
  margin-bottom: 23px;
}

@media (min-width: $tablet) {
  .footer {
    @include wrapper($tablet);
    padding: 35px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--main {
      padding: 32px 0 10px;
      display: flex;
    }

    &--form {
      padding: 90px 0 8px;

      .footer__design {
        margin-bottom: 27px;
      }
    }

    &--foto {
      padding: 35px 0 10px;
    }
  }

  .footer__logo {
    margin-left: 20px;
    padding: 0;
    width: 25%;
  }

  .footer__social {
    margin-right: 7px;
    width: 50%;
  }

  .footer__design {
    width: 25%;
    margin-right: 14px;
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop) {
  .footer {
    @include wrapper($desktop);

    &--foto {
      padding: 100px 0 50px;

      .footer__social {
        margin-right: 13px;
        margin-bottom: 29px;
      }
    }

    &--main {
      padding: 73px 0 43px;
    }

    &--form {
      padding: 71px 0 43px;

      .footer__social {
        margin-right: 13px;
        margin-bottom: 29px;
      }
    }
  }

  .footer__logo {
    text-align: left;
    margin-left: 10px;
  }

  .footer__design {
    margin-right: 3px;
    margin-bottom: 32px;
  }

  .footer__social {
    margin-right: 23px;
    margin-bottom: 29px;
  }
}
