.header {
  background-color: $color-darkmain;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 49%;
  background-size: 320px 462px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &--small {
    background-position: 52% 765%;
    background-size: 320px 462px;
  }

  &--close {
    background-position: 50% 0%;
  }

  &--no-js-small {
    background-position: 52% 765%;
  }

  &--no-js {
    background-position: 50% 49%;
  }
}

.header__inner {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: $tablet) {
  .header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 100%;
    background-size: auto 729px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &--small {
      background-position: 50% -754%;
    }

    &--close {
      background-position: 50% 0%;
    }

    &--no-js-small {
      background-position: 50% -754%;
    }

    &--no-js {
      background-position: 50% 100%;
    }
  }
}

@media (min-width: $desktop) {
  .header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: auto 853px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: auto 853px;
      background-position: 50% 0%;
    }

    &--small {
      background-position: 50% 0%;
      background-size: auto 853px;
    }

    &--close {
      background-position: 50% 0%;
    }
  }

  .header__inner {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
