.image-upload__form {
  background-color: $lightgray;
  padding-bottom: 42px;
}

.image-upload__inner {
  @include wrapper(320px);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.image-upload__text {
  @include wrapper(320px);
  line-height: 30px;
  text-align: center;
  padding: 0;
  padding-top: 23px;

  &:nth-of-type(2) {
    padding-bottom: 41px;
    padding-top: 0;
  }
}

.image-upload__img {
  display: block;
  width: 280px;
  padding-top: 20px;
}

//Фильтры
.image-upload__filters-list {
  @include list-reset;
  @include wrapper(210px);
  padding: 41px 0 16px;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.image-upload__radio-label {
  display: block;
  cursor: pointer;
}

.image-upload__radio-label--fill {
  margin-right: 10px;
}

.image-upload__radio-label--contrast {
  margin-right: 10px;
}

.image-upload__radio-input:hover + .image-upload__radio-label {
  .image-upload__icon {
    fill: $color-main;
    opacity: 0.7;
  }
}

.image-upload__radio-input:checked + .image-upload__radio-label {
  .image-upload__icon {
    fill: $pink;
    opacity: 1;
  }
}

.image-upload__icon {
  fill: $color-main;
  opacity: 0.3;
}

//Ползунок
.image-upload__range-list {
  @include list-reset;
}

.image-upload__range-item {
  width: 320px;
  display: none;
  position: relative;
  border-bottom: 1px solid rgba(72, 84, 97, 0.1);
  padding: 13px 0 34px;
}

.image-upload__range-item--active {
  display: block;
}

.image-upload__range-scale {
  @include wrapper(240px);
  height: 2px;
  background-color: $black;
}

.image-upload__range-toggle {
  position: absolute;
  top: 8px;
  left: 231px;
  width: 14px;
  height: 14px;
  background: $lightgray;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer;
}

.image-upload__range-toggle:active {
  background: $pink;
}

//кнопки
.image-upload__buttons-container {
  padding-top: 38px;
  margin: 0 auto;
}

.image-upload__button {
  margin: 0 auto;

  &:first-of-type {
    margin-bottom: 13px;
  }
}

@media (min-width: $tablet) {
  .image-upload__text {
    @include wrapper($tablet);
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    padding-top: 44px;

    &:nth-of-type(2) {
      padding-bottom: 70px;
      padding-top: 0;
    }
  }

  .image-upload__form {
    padding-bottom: 54px;
  }

  .image-upload__container {
    display: flex;
    flex-direction: column;
    width: 50%;

    .image-upload__button {
      width: 260px;
    }
  }

  .image-upload__filters-list {
    display: none;
  }

  .image-upload__range-list {
    padding-top: 62px;
    margin-left: 36px;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .image-upload__range-item {
    display: block;
    width: 100%;
    position: relative;
    padding-bottom: 34px;
    margin-bottom: 22px;

    &:first-of-type {
      &::before {
        position: absolute;
        width: 25px;
        height: 25px;
        content: "";
        top: 0;
        left: 0;
        background: url("../img/editor-crop.svg") no-repeat;
        background-size: cover;
      }

      .image-upload__range-toggle {
        left: 200px;
      }
    }

    &:nth-of-type(2) {
      &::before {
        position: absolute;
        width: 25px;
        height: 25px;
        content: "";
        top: 5px;
        left: 2px;
        background: url("../img/editor-fill.svg") no-repeat;
        background-size: cover;
      }

      .image-upload__range-toggle {
        left: 80px;
      }
    }

    &:last-of-type {
      &::before {
        position: absolute;
        width: 17px;
        height: 17px;
        content: "";
        top: 4px;
        left: 7px;
        background: url("../img/editor-contrast.svg") no-repeat;
        background-size: cover;
      }

      .image-upload__range-toggle {
        left: 150px;
      }
    }
  }

  .image-upload__range-scale {
    width: 200px;
    margin-left: 54px;
  }

  .image-upload__inner {
    @include wrapper($tablet);
    flex-direction: row;
    padding: 0;
    align-items: stretch;

    & picture {
      width: 50%;
      margin-top: 56px;
      padding-left: 20px;
    }
  }

  .image-upload__img {
    width: 300px;
    height: 400px;
    padding-top: 0;
    margin-bottom: 0;
  }

  .image-upload__buttons-container {
    padding-top: 43px;
    text-align: left;
    margin-left: 36px;
  }

  .image-upload__button:first-of-type {
    margin-bottom: 27px;
  }
}

@media (min-width: $desktop) {
  .image-upload__form {
    padding-bottom: 59px;
  }

  .image-upload__text {
    padding: 5px 0 0;

    &:nth-of-type(2) {
      padding-bottom: 66px;
    }
  }

  .image-upload__inner {
    @include wrapper($desktop);

    picture {
      padding-left: 90px;
    }
  }

  .image-upload__container {
    width: 410px;
  }

  .image-upload__range-list {
    width: 100%;
    margin-left: 0;
  }

  .image-upload__range-scale {
    width: 288px;
    margin-left: 93px;
  }

  .image-upload__range-item {
    &:first-of-type {
      &::before {
        width: 45px;
        height: 45px;
        top: -8px;
        left: 0;
      }

      .image-upload__range-toggle {
        left: 163px;
      }
    }

    &:nth-of-type(2) {
      &::before {
        width: 45px;
        height: 45px;
        top: -4px;
        left: 2px;
      }

      .image-upload__range-toggle {
        left: 340px;
      }
    }

    &:last-of-type {
      &::before {
        width: 29px;
        height: 29px;
        top: 0;
        left: 7px;
      }

      .image-upload__range-toggle {
        left: 252px;
      }
    }
  }

  .image-upload__buttons-container {
    padding-top: 124px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .image-upload__button {
      width: 184px;
      margin: 0;
    }
  }
}
