.temporary {
  min-height: 952px;
}

.photo-main__title-container {
  /*Временно*/
  min-height: 170px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 23%;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-main__text {
  @include wrapper(320px);
  margin-bottom: 49px;
  padding: 0 35px;
  padding-top: 45px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet) {
  .photo-main__text {
    @include wrapper($tablet);
    margin-bottom: 76px;
    padding: 0 62px;
    padding-top: 92px;
    font-size: 18px;
  }
}

@media (min-width: $desktop) {
  .photo-main__text {
    @include wrapper($desktop);
    margin-bottom: 88px;
    padding: 0 300px;
    padding-top: 92px;
    font-size: 18px;
  }
}
