.price {
  overflow: hidden;
  background-color: $lightgray;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: contain;
  padding-top: 90px;
}

.price__table {

  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-left: -257px;
  padding-bottom: 20px;
}

.price__table-cell {
  font-size: 14px;
  font-weight: 400;
  padding: 12px 0 17px 21px;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
  background: #ffffff;
  min-width: 277px;
}

.price__table-sell--disappearing {
  display: none;
}

.price__cell-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__table-title {
  color: #ffffff;
  padding: 15px 0 22px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  background: $color-main;
  border: 2px solid #e5e5e5;

  &--hit {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -2px;
      width: 76px;
      height: 76px;
      background: url("../img/bg-hit.svg") no-repeat;
    }

    &::after {
      content: "ХИТ";
      transform: rotate(-45deg);
      position: absolute;
      top: 11px;
      left: 8px;
      font-weight: 400;
      font-size: 15px;
    }
  }
}

.price__table-mark {
  margin-right: 16px;
}

.price__table-mark--yes {
  fill: #3dc644;
}

.price__table-mark--no {
  fill: #f25b26;
}

.price__value {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.price__bullets {
  @include wrapper(65px);
  padding-top: 41px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.price__bullet {
  padding: 0;
  margin: 0;
  font-size: 0;
  border: none;

  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $color-main;
  opacity: 0.3;
  cursor: pointer;

  &:nth-of-type(2) {
    margin: 0 20px;
  }

  &--active {
    background-color: transparent;
    box-shadow: 0 0 0 3px $color-main;
    opacity: 1;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: $tablet) {
  .price {
    padding-top: 86px;
    padding-bottom: 67px;
  }

  .price__table {
    max-width: 620px;
    margin: 0 auto;
  }

  .price__table-title {
    min-width: 155px;
    padding: 14px 0 10px;
  }

  .price__table-cell {
    min-width: 155px;
    padding: 7px 0 8px 6px;
    text-transform: initial;
  }

  .price__table-sell--disappearing {
    display: table-cell;
    padding-left: 16px;
  }

  .price__table-text {
    display: none;
  }

  .price__value {
    font-size: 18px;
    line-height: 24px;
  }

  .price__table-mark {
    margin-right: 0;
  }

  .price__cell-container {
    justify-content: center;
  }

  .price__table-title--hit::before {
    left: -1px;
    background: url("../img/bg-hit-tablet.svg") no-repeat;
  }

  .price__table-title--hit::after {
    top: 3px;
    left: 7px;
    font-size: 13px;
  }

  .price__bullets {
    display: none;
  }
}

@media (min-width: $desktop) {
  .price {
    padding-top: 153px;
    padding-bottom: 95px;
  }

  .price__table {
    max-width: 940px;
  }

  .price__table-title {
    min-width: 167px;
  }

  .price__table-head {
    height: 98px;
  }

  .price__table-sell--disappearing {
    font-size: 18px;
  }

  .price__table-cell {
    padding-top: 13px;
    padding-left: 20px;
    padding-bottom: 16px;
  }

  .price__table-mark {
    margin-right: 19px;
  }

  .price__value {
    font-size: 24px;
    line-height: 33px;
  }

  .price__table-title--hit::before {
    background: url("../img/bg-hit.svg") no-repeat;
  }

  .price__table-title--hit::after {
    content: "ХИТ";
    top: 11px;
    left: 11px;
  }
}
