.promo {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.promo--small {
  padding-top: 0;
  padding-bottom: 52px;
}

.promo--form {
  padding-top: 0;
  padding-bottom: 23px;
}

.promo__container {
  background-color: $color-darkmain;
  padding-top: 28px;
  padding-bottom: 14px;
}

.promo__title {
  @include wrapper(320px);
  padding: 30px 20px;
  padding-top: 336px;
  font-size: 24px;
  line-height: 29px;
  color: $white;
  font-weight: lighter;
  text-align: center;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 258px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }
}

.promo__title--hidden {
  font-size: 0;
}

.promo__title--small {
  background: none;
  padding-top: 30px;
}

.promo__button {
  margin: 0 auto;
  margin-bottom: 28px;
}

.promo__links-list {
  @include list-reset;
  @include wrapper(209px);
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
}

.promo__link-item {
  & a {
    display: block;
    width: 51px;
    height: 58px;
  }

  &--apple a {
    background: url("../img/logo-apple.svg") no-repeat 50% 50%;
  }

  &--android a {
    background: url("../img/logo-android.svg") no-repeat 50% 72%;
  }

  &--win a {
    background: url("../img/logo-microsoft.svg") no-repeat 50% 75%;
  }
}

.promo__description {
  @include wrapper(320px);
  padding: 21px 20px 16px;
  text-align: center;
  font-weight: lighter;
  color: $white;
}

@media (min-width: $tablet) {
  .promo--small {
    padding-bottom: 83px;
  }

  .promo--form {
    padding-bottom: 23px;
  }

  .promo__inner {
    @include wrapper ($tablet);
    padding-bottom: 96px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 48% 100%;
    background-size: 700px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }

  .promo__inner--small {
    background: none;
    padding-bottom: 56px;
  }

  .promo__container {
    width: 340px;
    margin: 0;
    background-color: transparent;
  }

  .promo__title {
    display: block;
    margin: 0;
    margin-bottom: 2px;
    padding: 93px 30px 0 49px;
    color: $white;
    font-size: 40px;
    line-height: 48px;
    font-weight: lighter;
    text-align: center;
    background: none;
  }

  .promo__title--small {
    @include wrapper($tablet);
    padding-top: 70px;
    padding-left: 30px;
    font-size: 50px;
    line-height: 60px;
  }

  .promo__button {
    margin-top: 0;
    margin-bottom: 41px;
  }

  .promo__description {
    width: 340px;
    font-size: 18px;
    line-height: 24px;
    padding: 36px 20px 0;
  }
}

@media (min-width: $desktop) {
  .promo__inner {
    @include wrapper ($desktop);
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: -29% 100%;
    padding-bottom: 107px;
    background-size: 1050px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .promo__container {
    width: 300px;
  }

  .promo__links-list {
    margin-left: 56px;
    padding-top: 16px;
  }

  .promo__title {
    font-size: 50px;
    line-height: 60px;
    padding: 108px 7px 0;
    margin-bottom: 25px;
  }

  .promo__button {
    margin-bottom: 50px;
    margin-left: 9px;
  }

  .promo__description {
    padding-top: 54px;
    padding-left: 0;
  }

  .promo__inner--small {
    background: none;
    padding-bottom: 100px;
  }

  .promo__title--small {
    @include wrapper($desktop);
    padding: 64px 209px 0;
    padding-left: 210px;
    font-size: 50px;
    line-height: 60px;
  }

  .promo__title--form {
    padding: 62px 80px 0;
    padding-left: 83px;
  }

  .promo--small {
    padding-top: 0;
    padding-bottom: 0;
  }

  .promo--form {
    padding-bottom: 0;
  }
}
