
.users-photos__inner {
  @include wrapper (320px);
}

@media (min-width: $tablet) {
  .users-photos__inner {
    @include wrapper ($tablet);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}

@media (min-width: $desktop) {
  .users-photos__inner {
    @include wrapper ($desktop);
    justify-content: space-around;
    padding: 0;
  }
}
