/*colors*/
$color-main: #283645;
$color-darkmain: #1d2631;
$gray: #485461;
$white: #ffffff;
$black: #000000;
$pink: #d22856;
$lightgray: #f2f2f2;

/*font*/
$font: "Open Sans", "Tahoma", sans-serif;
$font-size: 14px;
$line-height: 24px;

/*size*/
$tablet: 660px;
$desktop: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
